
.khan{
  margin-top: -80px;
}

.button {
  margin-left: -350px;
  margin-top: -200px;
} 


.about {
margin-left: 70%;
margin-top: -55vh;
width: 25%;

}
.about img{
  height: 220%;
  width: 250%;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}